<div class="row mt-5">
    <div class="col-md-12">
        <h4>BookMark Details</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        Title: Javascript Tutorial
                    </div>
                    <div class="col-md-12">
                        URL: www.xyz.com
                    </div>
                    <div class="col-md-12">
                        Category: A
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>